# ===============================
# DATA & MODELS (DVC)
# ===============================
data/
models/
*.pkl
*.joblib

# ===============================
# MLFLOW
# ===============================
mlruns/
mlflow.db

# ===============================
# VIRTUAL ENV
# ===============================
mlops/
venv/
.venv/
Include/
Lib/
Scripts/
share/
pyvenv.cfg



# ===============================
# PYTHON
# ===============================
_pycache_/
*.pyc
*.pyo
.env

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# DVC
# ===============================
.dvc/cache/