# ===============================
# DATA & MODELS (DVC)
# ===============================
# Ignorer le contenu des dossiers data/ mais PAS les fichiers .dvc
/data/*
!/data/*.dvc
!/data/**/*.dvc

/models/*
!/models/*.dvc

*.pkl
*.joblib

# ===============================
# MLFLOW
# ===============================
mlruns/
mlflow.db

# ===============================
# VIRTUAL ENV
# ===============================
mlops/
venv/
.venv/
Include/
Lib/
Scripts/
share/
pyvenv.cfg

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
.env

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# DVC
# ===============================
.dvc/cache/